<!doctype html>
<title>{% block title %}{% endblock %} - DAAFi</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>DAAFi</h1>
  <div>
      <a href="{{ url_for('add_data.add_contact')}}">Add Contact</a>
      <a href="{{ url_for('add_data.add_payment_method')}}">Add Payment Method</a>
      <a href="{{ url_for('add_data.add_category')}}">Add Category</a>
      <a href="{{ url_for('add_data.add_transaction')}}">Add Transaction</a>
  </div>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
